# gradle

.gradle/
build/classes
build/generated
build/libs
build/res*
build/tmp
build/loom-cache/mix*
out/
classes/

# eclipse

*.launch

# idea

.idea/
*.iml
*.ipr
*.iws

# vscode

.settings/
.vscode/
bin/
.classpath
.project

# fabric

run/
remappedSrc/
logs/

